<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.trd.maps.utils.x.demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.trd.maps.utils.x.demo.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.trd.maps.utils.x.demo.PolyDecodeDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.PolySimplifyDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.IconGeneratorDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.DistanceDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.ClusteringDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.BigClusteringDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.VisibleClusteringDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.CustomMarkerClusteringDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.ClusteringViewModelDemoActivity"/>
        <activity android:name="org.trd.maps.utils.x.demo.TileProviderAndProjectionDemo" />
        <activity android:name="org.trd.maps.utils.x.demo.HeatmapsDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.HeatmapsSiteDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.GeoJsonDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.KmlDemoActivity" />
        <activity android:name="org.trd.maps.utils.x.demo.MultiLayerDemoActivity" />

    </application>

</manifest>
